<div class="new-person__add-person">
  <%= simple_form_for person do |f| %>
    <% if person.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

        <ul>
          <% person.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= f.label "Name:", style: "display: block" %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label "HPR id:", style: "display: block" %>
      <%= f.number_field :hprId %>
    </div>

    <div>
      <%= f.button :submit, class: "new-person__submit" %>
    </div>
  <% end %>
</div>
