<p style="color: green"><%= notice %></p>

<div class="people-container">

  <button class="add_new_button"><%= link_to "+", new_person_path %></button>

  <%= render "people/search" %>

  <div class="cards" id="people">
  <div class="cards__results"><p>Fant <%= @people.length %> resultater: </p></div>
    <% @people.each do |person| %>
    <div class="card">
      <h3><%= person.name.upcase %></h3> 
      <% if person.clinics.length > 0 %>
        <% person.clinics.each do | clinic | %>
          <h3><%= link_to clinic.name %></h3> 
        <% end %>
      <% end %>
      <button class="card__button"><%= link_to "Detaljer", person %></button> 
    </div>
    <% end %>
  </div>
</div>

