<p style="color: green"><%= notice %></p>

<%= render "people/search" %>

<h2>Helsepersonell</h2>

<div id="people">
  <% @people.each do |person| %>
    <%= render person %>
    <% if person.clinics.length > 0 %>
      <% person.clinics.each do | clinic | %>
        <%= link_to clinic.name %>
      <% end %>
    <% end %>
    <p>
      <%= link_to "Show this person", person %>
    </p>
  <% end %>
</div>

<%= link_to "New person", new_person_path %>
