
<div class="person-container">
<div style="color: white"><%= notice %></div>

  <%= render @person %>

  <% if @person.clinics.length > 0 %>
    <div class="person-details__clinic">
      <p> Associated Clinics: </p>
      <% @person.clinics.each do | clinic | %>
        <p><%= clinic.name %> </p>

        <% if clinic.people.length > 0 %>
          <div class="person-details__clinic-tags">
            <% clinic.people.each do | assoc_person | %>
              <% if assoc_person.name != @person.name %>
                <div class="person-details__clinic-tag"><%= link_to assoc_person.name, assoc_person %></div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  
  <%= render "person_clinics/new" %>

  <div class="person-details__buttons">
    <%= link_to "Redigere", edit_person_path(@person) %>
    <%= link_to "Tilbake", people_path %>
    <%= button_to "Slette", @person, :confirm => 'Bekrefte', method: :delete %>
  </div>

</div>